#dark {
  background: var(--dbodymode);
}

#dark .navbar {
  background:  var(--dbodymode) !important;
}

#dark .navbar-light .navbar-brand {
  color: #fff;
}
#dark .navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255) !important;
}
#dark a.nav-item.nav-link {
  color: #ffffff !important;
}
#dark a.nav-item.nav-link.active {
  color: #d1a103 !important;
}
#dark .section-header p::before {
  background: #ffffff !important;
}
#dark .section-header p::after {
  background: #ffffff !important;
}
#dark .section-header p {
  background: #15202b !important;
}
#dark .section-header h2 {
  color: #f2f2f2 !important;
}
#dark .service .service-icon {
  background: #15202b !important;
}
#dark .service .service-text h3 {
  color: #f2f2f2;
}
#dark .service .service-text p {
  color: #f2f2f2;
}
/* #dark .service .service-item:hover {
  box-shadow: inset 800px 0 0 0 #f2f2f2;
}
#dark .service .service-item:hover .service-text h3,
#dark .service .service-item:hover .service-text p {
    color: #15202b;
} */